<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/github-dark.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/print.css" media="print">

    <title>{{ page.title }}</title>
</head>
<body>

<header>
    <div class="container">
        <h1>{{ page.title }}</h1>
        <h2>哈哈爱护的吧</h2>

        <section id="downloads">
            <a href="https://liruixpc11.github.io/home" class="btn">Home</a>
            <!--<a href="https://github.com/liruixpc11/home/zipball/master" class="btn">Download as .zip</a>-->
            <!--<a href="https://github.com/liruixpc11/home/tarball/master" class="btn">Download as .tar.gz</a>-->
            <a href="https://github.com/liruixpc11/home" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
    </div>
</header>

<div class="container">
    <section id="main_content">
        {{ content }}
    </section>
</div>
</body>
</html>